<div class="container mt-3 px-2">
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <div class="position-relative">
      <button routerLink="/create-course" type="button" class="btn btn-outline-primary">Add New Course</button>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-responsive table-borderless">
      <thead>
        <tr class="bg-light">
          <th scope="col" width="20%">Title</th>
          <th scope="col" width="10%">Status</th>
          <th scope="col" width="20%">Course Link</th>
          <th scope="col" width="20%">Platform</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The Angular Masterclass</td>
          <td>Completed</td>
          <td>
            <a href="https://www.educative.io/courses/getting-started-with-angular" target="_blank">
              https://www.educative.io/courses/getting-started-with-angular
            </a>
          </td>
          <td>Educative</td>
          <td>
            <i class="fas fa-trash-alt" style="color: red; cursor: pointer;"></i>
          </td>
          <td>
            <i class="fas fa-edit" style="color: blue; cursor: pointer"></i>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>A Hands-on Guide to Angular</td>
          <td>Completed</td>
          <td>
            <a href="https://www.educative.io/courses/a-hands-on-guide-to-angular" target="_blank">
              https://www.educative.io/courses/a-hands-on-guide-to-angular
            </a>
          </td>
          <td>Educative</td>
          <td>
            <i class="fas fa-trash-alt" style="color: red; cursor: pointer;"></i>
          </td>
          <td>
            <i class="fas fa-edit" style="color: blue; cursor: pointer"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


