<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags, title, links, etc. -->
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">CourseApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a *ngIf="user_service.isLoggedIn" class="nav-link" routerLink="/create-course" routerLinkActive="active">Create</a>

          <a *ngIf="user_service.isLoggedIn" class="nav-link" routerLink="/list-course" routerLinkActive="active">List</a>

          <a *ngIf="!user_service.isLoggedIn" class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>

          <a *ngIf="!user_service.isLoggedIn" class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>

          <a *ngIf="user_service.isLoggedIn" class="nav-link" routerLink="/register" routerLinkActive="active" (click)="user_service.logoutUser()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
</html>

